@model Modelo.TblActividadTaller

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TblActividadTaller</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idTaller)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idTaller)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strvalor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strvalor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strdescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strdescripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
