@model IEnumerable<Modelo.TblActividadTaller>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idTaller)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strvalor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strdescripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idTaller)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strvalor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strdescripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
